$theme: (
	logo_wordmark_img:	'https://api.faithsourced.com/images/site/prefs-eeface6d30d4226e1f4f26fc4d88b174.svg',
	logo_glyph_img:		'https://api.faithsourced.com/images/site/prefs-463b6e1c5003cb62b22b00f51f5d2924.svg',
	logo_slogan:		'Software as a Service',
	site_bg_img:		'https://api.faithsourced.com/images/site/prefs-a77fe27935894be1126c28c82ada67da.jpg',
	color_1:		#88e1a9,
	color_2:		#9bf9b9,
	color_3:		#46565d,
	color_4:		#748088,
	color_5:		#d8dce2,
	color_6:		#9bf9b9,
	color_7:		#46565d,
	color_8:		#46565d,
);